<!DOCTYPE html>
<html>
<head>
    <title>Demo</title>
    <meta charset="utf-8">
    <script src="~/jquery.steps/jquery.steps.js"></script>
    <script src="~/jquery.steps/jquery.steps.min.js"></script>
</head>
<body>
    <script>
        $("#wizard").steps();

        // Initialize wizard
        var wizard = $("#wizard").steps();

        // Add step
        wizard.steps("add", {
            title: "HTML code",
            content: "<strong>HTML code</strong>"
        });

    </script>
    <div id="wizard">
        <h1>First Step</h1>
        <div>First Content</div>
        <h1>Second Step</h1>
        <div>Second Content</div>
    </div>
</body>
</html>



